@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --font-libre-baskerville: 'Libre Baskerville', serif;
    --font-space-grotesk: 'Space Grotesk', sans-serif;
  }
}

.font-primary {
  font-family: var(--font-libre-baskerville);
}

.font-secondary {
  font-family: var(--font-space-grotesk);
}


/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

