@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --font-libre-baskerville: 'Libre Baskerville', serif;
    --font-space-grotesk: 'Space Grotesk', sans-serif;
  }
}

.font-primary {
  font-family: var(--font-libre-baskerville);
}

.font-secondary {
  font-family: var(--font-space-grotesk);
}


/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 2px solid #7A3E2C;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 30;
}

input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 2px solid #7A3E2C;
    border-radius: 50%;
    cursor: pointer;
}


/* Background utama kalender */
.rdrCalendarWrapper {
    background-color: #FCFBF7;
}

/* Header bulan */
.rdrMonthAndYearWrapper {
    background-color: #FCFBF7;
}

/* Grid tanggal */
.rdrMonth {
    background-color: #FCFBF7;
}

/* Hari normal */
.rdrDayNumber span {
    color: #2D2A29;
}

/* Hari disabled */
.rdrDayDisabled {
    background-color: transparent;
    color: #C4C4C4;
}

/* Hover date */
.rdrDayHovered .rdrDayNumber span {
    color: #7A3E2C;
}
